/* ----------------------- Header --------------------------*/
/* -------------------- Navigation bar --------------------*/
header {
  justify-content: center;
}

#navbar a.active {
  font-weight: bold;
  /* border: 1px solid  #ddd6f3; */
  border-radius: 5rem;
  padding: 0.5rem;
  background-color: hsla(45, 17%, 95%, 0.8);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  right: 0;
  max-width: fit-content;
  /* max-width: fit-content; */
  backdrop-filter: blur(10px);
  padding: 1rem;
  margin: 2% auto;
  border-radius: 8rem;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: var(--fs-links);
  font-weight: var(--fw-regular);
}

.nav-links a {
  color: var(--color-green500);
}

.text-hidden {
  color: transparent;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--color-hilite);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-top: -3px;
}

.forward-slash {
  padding: 1px 4px 1px 4px;
  border-radius: 6px;
  border: 2px solid var(--color-light-border);
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .nav-links {
    gap: var(--fs-links-mobile);
    font-size: var(--fs-links-mobile);
    font-weight: var(--fw-regular);
  }

  .text-hidden {
    color: transparent;
  }
}
